#sliderBox{
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}

#slider{
    max-height: 35vh;
    max-width:100%;
}

#eventBoxes{
    height:100%;
    text-align: center;
    color: blueviolet;
    height: 35vh;
    width: 100%;
    background-color: aquamarine
}

.boxes div{
    max-height: 250px;
    margin:10px;
}

.boxes div img{
    max-height: 150px;
    margin:10px;
}