<div id="sliderBox">
    <ngx-img-carousel id="slider" 
        [carouselData]= "carouselData" 
        [automaticScrollDurationinMs]="3000">
    </ngx-img-carousel>
</div>

<div id="eventBoxes">
    <div>
            <button class="btn btn-primary" (click)="gotoTrips()">All trips</button>
    </div>

    <div class="boxes" *ngFor="let trip of homeTrips" ng-app ng-controller="sample">
        <div>
                <h4>Trip {{trip.title}}</h4>
                <h5>Location: {{trip.location}} </h5>
                <img id="tripImage" src="{{trip.imageUrl}}" alt="">
        </div>
    </div>

</div>  

