<div class="modal-header">
    <h4 class="modal-title">My Form</h4>
    <button type="button" class="close" aria-label="Close"
         (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
        <div class="container">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" 
                class="form-control"
                formControlName="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control">
            </div>
          </div>
    </div>
    
    <div class="modal-footer">
          <button class="btn btn-success">
            Submit Form
          </button>
    </div>
</form>
