#app{
    width: 90%;
    margin-left: 5%;
    position: absolute;
}

header{
    position: relative;
    height: 6vh;
}

h1{
    text-align: center;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: center;   
}

.loginButton{
    top: 10px;
    right:20px;
    position: absolute;
}

footer{
    color: chartreuse;
}