<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <header>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <button class="loginButton btn btn-primary" (click)="openFormModal()" *ngIf="hideLogin">{{buttonText}}</button> 

  <button class="loginButton btn btn-primary" (click)="gotoLogout()" *ngIf="hideLogout">{{buttonLogOut}}</button>   
  
  </header>

<hr>
<router-outlet></router-outlet>
<hr>
<footer>
  <h2>It is footer</h2>
</footer>
</div>

