<div id="backBox">
    <button name = "myTrips" class="btn btn-primary" (click)="gotoHome()">My tripes:</button>
</div>
<div id="tripsBox" ng-controller="MainCtrl">
    <ul  *ngFor="let trip of trips" ng-app ng-controller="sample">
        <li>
            <h4 (click)="changeElementHide(trip)">Trip{{trip.title}}</h4>
                <div class="procedure-details" *ngIf="!trip.hideDetails">
                    <div >
                        <h5> Description:</h5>   {{trip.description}}
                    </div>
                    <div >
                        <img id="tripImage" src="{{trip.imageUrl}}" alt="image of tour">
                    </div>
                </div>

        </li>
    </ul>
</div>
