li {    
    list-style: none;
    padding: 10px;
}

.procedure-details {
    max-height: 20vh;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

ul {
    margin: 0;
    padding: 0;
}
